body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  direction: rtl;
  background: #0f0f0f;
  color: #00ff88;
}

.overlay {
  background: linear-gradient(135deg, #0f0f0f 70%, #1a1a1a);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 500px;
}

.title {
  text-align: center;
  color: #00ff88;
  margin-bottom: 20px;
}

.card {
  background-color: #111;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00ff88;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  background: #222;
  color: #00ff88;
  font-size: 16px;
  border-bottom: 2px solid #00ff88;
}

button {
  width: 100%;
  padding: 12px;
  background: #00ff88;
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover {
  background: #00cc66;
}
